/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */

body, textarea {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	height: 60px;
	width: 100%;
	background-color: #CE7A42;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	
}

header h2, header nav {
	margin: 30px;
	font-size: 22px;

}

nav button {
	color: white;
	text-decoration: none;
	border: none;
	background-color: transparent;
	font-size: 20px;
	margin: 20px;
}

nav button:hover {
	cursor: pointer;
	color: gray;
}

footer {
	width: 100%;
	height: 150px;
	background-color: #3E3E3E;
	color: white;
}

a {
	margin: 5px 5px;
	font-size: 20px;
}


footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socials {
	margin-left: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer div div {
	display: flex;
	flex-direction: row;
}

.devmountain-logo {
	margin-right: 60px;
}

footer h5 {
	font-size: 18px;
	margin-bottom: 5px;
}


.add-banner-h3 {
	color: white;
	font-size: 25px;
	text-align: center;
}

.add-title {
	font-weight: bold;
	font-size: 50px;
	color: #CD7941;
}

.add-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	margin-top: 60px;
}

.add-content * {
	margin: 10px 0px;
}

.add-div {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

.add-content h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.add-content button, .card-button {
	background-color: #62898A;
	border: none;
	padding: 10px 20px;
	font-size: 25px;
	color: white;
}

.add-content button {
	margin-bottom: 60px;

}

.add-content button:hover {
	background-color: #92C3C4;
}



.recipe-card {
	width: 300px;
	height: 450px;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
	margin: 25px;
}

.img-div {
	width: 100%;

}

.img-div img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 3px;
}

.card-info {
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
}

.btn-div {
	margin-bottom: 20px;
}

.card-info h2 {
	margin-top: 20px;
	font-size: 30px;
}


.card-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
}

.home-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-search {
	background-color: rgba(206,122,66,40%);
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 50px;
	width: 500px;
	padding: 10px;
	gap: 10px;
	margin: 20px;
}

.form-search input {
	background: transparent;
	border: none;
	font-size: 25px;
	width: 100%;
}

.form-search input:focus {
	outline: none;
}

.detail-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.detail-body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 80px;
	padding: 60px;
	width: 100vw;
}

.detail-body p {
	font-size: 20px;
}

.left-info, .right-info {
	box-shadow: 0 3px 10px rgba(0,0,0,0.6);
	padding: 20px;
	border-radius: 3px;
	height: fit-content;
	
}

.left-info {
	width: 19%;
}

.right-info {
	width: 28%;
}

.top-box *, .bottom-box *, .right-info * {
	margin-top: 10px;
	margin-bottom: 10px;
}

.left-info h2, .right-info h2 {
	font-size: 27px;
	text-align: center;
	margin-bottom: 20px;
	
}

.left-info h4 {
	font-size: 20px;
}

.bottom-box {
	margin-top: 40px;
}

.detail-image {
	height: 300px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.detail-title {
font-weight: bold;
	font-size: 50px;
	color: #CD7941;
}

.left-info p {
	white-space: pre-wrap;
}

/**** add recipe page *****/

.new-recipe-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	font-size: 20px;
}

.new-recipe-page * {
	margin: 5px 10px;
	font-size: 20px;
}

.nr-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.new-recipe-page div {
	display: flex;
	justify-content: space-between;
}

.bottom-of-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ingredients-boxes {
	display: flex;
	flex-direction: row;
	margin-left: 0;
}

.ing-divs {
	display: flex;
	flex-direction: column;
}

textarea {
	width: 95%;
}

input, textarea {
	border: solid black 1px;
	border-radius: 2px;
	padding: 5px;
}

.radio-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 60px;
	margin-right: 60px;
}

.save-button {
	background-color: #62898A;
	border: none;
	padding: 10px 20px;
	font-size: 25px;
	color: white;
}

.add-an {
	background-color: #CE7A42;
	border: none;
	padding: 10px 20px;
	font-size: 25px;
	color: white;
}

.radio-buttons label {
	display: flex;
	align-items: center;
}

input[type="radio"] {
	height: 35px;
	width: 35px;
	border: none;
	
}

.new-recipe-page h1 {
	font-size: 35px;
	margin: 20px 0;
}